


body{
    font-family: 'Merriweather', serif;
    height: 7500px;
    color: #FFFFFF;
    max-width: 1170px;
    margin: auto;
    
}
/* header style ********* */
header{
   
    background-image: linear-gradient(180deg, rgb(0, 0, 0),rgba(0, 0, 0, 0.051)),url("../images/Banner\ Image.png");
    cursor:progress;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1170px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;  
    margin-top: 30px;
  
}

.header-text{
 color: #FFF;
text-align: center;
font-family: Merriweather;
text-align: center;
}

.header-text h1{
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 30px;
}

.header-text h5{
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
/* header style ********* */


/* start main********************** */
/* strat article catagory***************** */
.catagory{
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    text-align: center;
    margin-top: 90px;
    cursor: pointer;

}

.catagory h1{
color: #F00;
font-size: 57px;
margin-bottom: 48px;

}
.catagory span{
    color: #F00;
    font-size: 15px;
    line-height: 0;
    margin-bottom: 0px;
    
   
}
.catagory h3{
color: #070211;
font-size: 31px;
line-height: 0;
margin-top: 16px;
margin-bottom: 48px;



}

.catagory img{
    width: 559px;
    height: 375px;
}
/* end article catagory******************* */




/* strat articl*************************************** */
article{
    background-image:linear-gradient(180deg, rgb(0, 0, 0),rgba(0, 0, 0, 0.051)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin: 90px auto;
    width: 1170px;
    height: 540px; 


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;




} 
.mid-ninght-arrange
{
font-weight: 900;
text-align: left;
margin-left: 82px;



}
.mid-ninght-arrange h1{
font-size: 44px;
font-style: normal;
line-height: 68px;
letter-spacing: 5.04px;
color: #FFF;

}

.mid-ninght-arrange span{
    color: rgba(255, 255, 255, 0.80);
    font-size: 12px;
    
   
}

.mid-ninght-arrange-img img{
height: 350px;
width: 230px;
margin-right: 125px;

}
 .mid-ninght-arrange a{
    text-decoration: none;
    background-color: #FF0000;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    width: 100px;
    font-size: 15px;
    text-align: center;
  
color: #FFF;
animation: sliding 5s ease-in-out infinite alternate;
animation-play-state: running;
position: relative;

}



/* end article***************************************** */

/* section********************* */
section{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 8px;
    width: 1170px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  

}

.arrange-date a{
 text-align: center;
 padding: 8px 44px;
border-radius: 4px;
background: #F00;
text-decoration: none;
/* color: #FFF; */
color: #070211;
font-weight: 800;
animation: sliding 5s ease-in-out infinite alternate;
animation-play-state: running;
position: relative;
}
.arrange-date p{  
color: #070211;
font-weight: 600;
line-height: 18px;
font-size: 28px;
font-family: Inter;
font-style: normal;
}
.arrange-date span{
    color: #F00;
    font-style: normal; 
}
.arrange-date h1{
    color: #070211;
    font-weight: 900;
   font-size: 49px;
    font-family: Merriweather;
    font-style: normal;
}
/* aside*********** */
.arrange-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    border-radius: 8px;
    margin: 0 auto;
    gap: 95px;
    margin-bottom: 80px;

  


}



.soon-offer{
    text-align: left;
}
.soon-offer span{
    color: #F00;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
}
.soon-offer h2{
    color: #070211;
    font-weight: 900;

}
 .soon-offer p{
    font-family: Inter;
    color: rgba(7, 2, 17, 0.60);
    font-size: 12px;
    width: auto;
    font-weight: 400;
}

.festival-pic img{
    width: auto;
    height:210px;
    border: 8px solid #FF0000;
    border-radius: 50%;
    padding: 25px;
}



.gift-box{
    display: block;
    text-align:left;
    align-items:last baseline;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 75px;
}
.gift-box p{
    color: rgba(7, 2, 17, 0.60);
}
.gift-box h2{
    color: #F00;
    font-size: 24px;
    font-weight: 800;
}
/* start wrapper****************************************** */
wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 1170px;
    cursor: pointer;
}
.offer-quality {
    color: #070211;
    
}


#offer-identity .offer-pic{
    display: flex;
    justify-content: space-between;
    width: 1220px;
    gap: 15px;
    margin-top: 50px;
}

#offer-identity .tob img{
    width: 680px;
    height: 716px;
}
.offer-quality h5{
    color: #070211;
}

.offer-quality span{
    color:#FF0000
}
.offer-quality h1{
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
}
.offer-quality h5{
    color:#070211;
    font-size: 19px;
    font-weight: 600px;
    font-family: normal;
}
#position-pic img{
    position: relative;
    bottom: 287px;
    z-index:-1;
    width: 1170px;
   
  
}


.relative{
    position:absolute ;
    z-index: -1;
    margin-left: 38px;
    
}
.absolute{
    position: relativee;
    margin-right: 184px;
}
/* end wrapper******************************* */


/* start portfolio offer*********************** */
portfolio{
    display: flex;
    margin: 0 auto;
    width: 1170px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 150px;

    

}
.offer-details h3{
    color: #FF0000;
}
.offer-details h2{
color:#070211;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 12px 0 16px;


}
.offer-details p{
 color: rgba(7, 2, 17, 0.60);
 font-style: normal;
 line-height: 19px;
}

#discountal-products{
    display: grid;
    grid-template-columns:repeat(2,1fr) 400px;
    width: 1170px;
    grid-gap: 15px;
    cursor: pointer;
 

}

#discountal-products img{
    width: 379px;
    height: 430px;
    cursor: pointer;
   
}
@keyframes sliding {
    0%   {background-color: crimson;}
    25%  {background-color: aqua;}
    50%  {background-color: salmon;}
    100% {background-color: yellow;}
}  
/* end portfolio offer*********************** */ */



sub-aside{
    display: flex;
    margin: auto;
}
.arranged-data{
   
   background: rgba(255, 0, 0, 0.05);
    border-radius: 10px;
    width: 1170px;
    height: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.arranged-data h1{
    color: #070211;
    font-weight: 900;
   font-size: 49px;
    font-family: Merriweather;
    font-style: normal
}
.arranged-data a{
    text-align: center;
   padding: 21px 35px;
   border-radius: 4px;
   background: #F00;
   text-decoration: none;
   /* color: #FFF; */
   color: #070211;
   font-weight: 800;
   border-radius: 0px 50px 50px 0px;
   animation: sliding 5s ease-in-out infinite alternate;
   animation-play-state: running;
   position: relative;
   }

   .arranged-data p{  
    margin: 22px 0 32px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 700px;
    line-height: 24px;
    font-size: 18px;
    
    
    }
 .arranged-data input:visited{
    color: brown;
 }   
.arranged-data input:focus{
    color: #100f0f;
}
 .arranged-data input{
    padding: 22px 35px;
    border: none;
    width: 250px;
    border-radius: 50px 0px 0px 50px;
}
.arranged-data placeholder {
    color: rgba(7, 2, 17, 0.30);

text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* start footer***************** */
footer{
   
    background: #070211;
    height: 700px;
    display: flex;
    width: 1500px;
    margin: 80px auto;
    left:-153px;
    position: relative;
    cursor: pointer;
   
}


#offline-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1450px;
    height: 200px;
    margin: 10px;
}

.awesone-icon{
    height: 100px;
    width: 1450px;
}
ul li {
    list-style: none;
    color: rgb(0, 255, 30);
    cursor:pointer;
   
} 
ul {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
.fa-square-facebook{
    width: 25px;
}
footer span{
    color: #F00;
}
footer hr {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
   
    



}
/* end ****************************** */